@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ededed;
  padding: 40px 0;
  color: white;
}
ul {
	list-style-type: none;
}

.noName {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 50px;
	font-size: 23px;
	& button {
		padding: 5px;
		margin-top: 15px !important;
		margin: 0 auto;
		font-size: 23px;
		border-radius: 7px;
	}
}
@import 'login.scss';
@import 'ChatS.scss';
