body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

.noName {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 50px;
	font-size: 23px;
	& button {
		padding: 5px;
		margin-top: 15px !important;
		margin: 0 auto;
		font-size: 23px;
		border-radius: 7px;
	}
}

@import 'ChatS.scss';